@model Restaurant

@{
    ViewBag.Title = $"Reviews for {Model.Name}";
}

<h3>@ViewBag.Title</h3>

@Html.Partial("_Review", Model.Reviews)

<p>
    @Html.ActionLink("Add review", "Add", new { restaurantId = Model.Id })
</p>

@section footer {
    <span class="text-info">* We are showing the latest @Model.Reviews.Count() reveiws.</span>
}
