@model IEnumerable<RestaurantGuide.Web.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
}

<h2>The Latest Reviews</h2>

@foreach (var review in Model)
{
    @Html.Partial("_Review", review)
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@section footer {
    <span class="text-info">* We are showing the latest @Model.Count() reveiws.</span>
}
