@model RestaurantGuide.Entities.RestaurantReview

<section class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">@Model.RestaurantId</h4>
    </div>
    <div class="panel-body">
        <div class="text-primary">Rating: @Model.Rating</div>
        <div>@Model.Body</div>
    </div>
    <div class="panel-footer">
        <span>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</span>
    </div>
</section>