@model RestaurantGuide.Web.Models.AboutModel

@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<h3>@Model.Name</h3>

<div>Description: @Model.Description</div>
<div>Location: @Model.Location</div>
