@model IEnumerable<RestaurantGuide.Web.Models.RestaurantListViewModel>

@{
    ViewBag.Title = "Top Restaurants";
}

<h2 class="page-header">@ViewBag.Title</h2>

@foreach (var restaurant in Model)
{
    @Html.Partial("_Restaurant", restaurant)
}
