@model IEnumerable<RestaurantGuide.Entities.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<h2>Restaurants</h2>

@foreach (var restaurant in Model)
{
    <h4 class="panel-title">@restaurant.Name</h4>
    <div>
        <div>Rating: TODO</div>
        <div>Location: @restaurant.City, @restaurant.Country</div>
    </div>
    <div>
        <span>@Html.ActionLink("Edit", "Edit", new { id = restaurant.Id })</span>
    </div>
    <hr />
}
