@model IEnumerable<RestaurantGuide.Web.Models.RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<h2>Restaurants</h2>

<form method="get" class="form-group">
    <input type="search" name="filter" class="input-sm" />
    <input type="submit" value="Search" class="btn btn-sm" />
</form>

@foreach (var restaurant in Model)
{
    @Html.Partial("_Restaurant", restaurant)
}
