@model IEnumerable<Restaurant>

@{
    ViewBag.Title = "Restaurants";
}

<h2 class="page-header">@ViewBag.Title</h2>

@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "restaurantList"
    }))
{
    <input type="search" name="filter" class="input-sm" />
    <input type="submit" value="Search" class="btn btn-sm" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_Restaurants", Model)
